<ul>
  <!-- Internal Links -->
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/workshop">Workshops</a>
  </li>
  <li>
    <a href="/meetings">Meetings</a>
  </li>
  <li>
    <a href="/exams">Ham Exams</a>
  </li>
  <li>
    <a href="/lab">Makerspace</a>
  </li>
  <li>
    <a href="/eboard">EBoard & Contact</a>
  </li>
  <li>
    <a href="/history">History</a>
  </li>
  <!-- Divider -->
  <li class="divider"></li>
  <!-- External Links -->
  <li class="non-mobile-link slack-link">
    <a href="https://neuwireless.slack.com/join/signup#/domain-signup" target="_blank">
      <img src="../img/slack.png" alt="Slack Signup">
    </a>
  </li>
  <li class="non-mobile-link slack-link">
    <a href="http://eepurl.com/gduCIr" target="_blank">
      <img src="../img/mailchimp.png" alt="Mailing List Signup">
    </a>
  </li>
  <li class="non-mobile-link">
    <a href="https://www.hamqsl.com/solar.html" target="_blank">
      <img src="https://www.hamqsl.com/solarn0nbh.php" alt="Solar Info">
    </a>
  </li>
  <li class="non-mobile-link">
    <a href="https://www.arrl.org/volunteer-examiners" target="_blank">
      <img src="../img/arrl_vec.jpg" alt="Accredited ARRL VEC Team Badge" style="max-width: 100%; height: auto;">
    </a>
  </li>
</ul>